@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background-image: url('https://images.pexels.com/photos/5722992/pexels-photo-5722992.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */